<div class="footer wow fadeIn" data-wow-delay="0.3s">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="footer-contact">
          <h2>Office Contact</h2>
          <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
          <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
          <p><i class="fa fa-envelope"></i>info@example.com</p>
          <div class="footer-social">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="footer-link">
          <h2>Services Areas</h2>
          <a href="">Tours and Travels </a>
          <a href="">Passport renewal </a>
          <a href="">Work Permit renewal </a>
          <a href="">Attestation Guidance </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="footer-link">
          <h2>Useful Pages</h2>
          <a href="">Nepal Embassy in Dubai </a>
          <a href="">Status of Tourist VISA</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="newsletter">
          <h2>Newsletter</h2>
          <p>Subscribe us</p>
          <div class="form">
            <input class="form-control" placeholder="Email here" />
            <button class="btn">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container footer-menu">
    <div class="f-menu">
      <a href="">Terms of use</a>
      <a href="">Privacy policy</a>
      <a href="">Cookies</a>
    </div>
  </div>
  <div class="container copyright">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; <a href="#">Connect Us</a>, All Right Reserved.</p>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>
