<div class="top-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-12">
        <div class="logo">
          <a href="index.html" class="logo-link">
            <div class="logo-image">
              <img src="/static/images/logo/llogo.png" alt="Logo" />
            </div>
            <h1 style="color: #00f">
              Connect <span style="color: black">US</span>
            </h1>
          </a>
        </div>
      </div>
      <div class="col-lg-8 col-md-7 d-none d-lg-block">
        <div class="row">
          <div class="col-4">
            <div class="top-bar-item">
              <div class="top-bar-icon">
                <i class="flaticon-calendar"></i>
              </div>
              <div class="top-bar-text">
                <h3>Opening Hour</h3>
                <p>
                  {{timing_data.first_day}} - {{timing_data.last_day}},
                  {{timing_data.start_time}} - {{timing_data.end_time}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="top-bar-item">
              <div class="top-bar-icon">
                <i class="flaticon-call"></i>
              </div>
              <div class="top-bar-text">
                <h3>Call Us</h3>
                <p>{{contact_data.phone}}</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="top-bar-item">
              <div class="top-bar-icon">
                <i class="flaticon-send-mail"></i>
              </div>
              <div class="top-bar-text">
                <h3>Email Us</h3>
                <p>{{contact_data.email}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
