.container-contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.container-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #f2f2f2;
  transform-origin: bottom left;
  transform: skewX(-30deg);
  z-index: -1;
}

.contact-h2 {
  position: relative;
  z-index: 1;
  background-color: #f2f2f2;
  padding: 10px 20px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.contact-info {
  margin-top: 20px;
}

.info-paragraph {
  margin: 0;
  padding: 10px;
  text-align: justify;
}

.c {
  margin-top: 20px;
  text-align: center;
}

/* Neomorphic Raised Design */
.container-contact {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Minimalist */
body {
  background-color: #ffffff;
}

/* Hover Animation */
.container-contact:hover {
  transform: translateY(-5px);
}

/* Centered */
.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Appropriate Margin and Padding */
.container-contact {
  margin: 50px;
  padding: 20px;
}

.custom-btn {
  /* background-color: #2868e6; */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.custom-btn:hover {
  /* background-color: #4d97ff; */
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .container-contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }

  .container-contact .contact-h2,
  .container-contact .contact-info {
    width: 100%;
  }
}
