/***********/
/*** General CSS ***/
/***********/
body {
    color: #666666;
    background: #dddddd;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0%;
    padding: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #030f27;
}

a {
    color: #666666;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: white;
    outline: none;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

.wrapper {
    position: relative;
    width: 100%;
    margin: 1px 1px;
    background: #ffffff;
}

.back-to-top {
    position: fixed;
    display: none;
    background: white;
    color: #121518;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top:hover {
    color: white;
    background: #121518;
}

.back-to-top i {
    padding-top: 10px;
}

.btn {
    transition: .3s;
}


/************/
/**** Top Bar CSS *****/
/************/
.top-bar {
    position: relative;
    height: 90px;
    background: white;
}

.top-bar .logo {
    padding: 15px 0;
    text-align: left;
    overflow: hidden;
}

.top-bar .logo h1 {
    margin: 0;
    color: #43516e;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.top-bar .logo img {
    max-width: 100%;
    max-height: 60px;
}

.top-bar .top-bar-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .top-bar-icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar .top-bar-icon [class^="flaticon-"]::before {
    margin: 0;
    color: #030f27;
    font-size: 40px;
}

.top-bar .top-bar-text {
    padding-left: 15px;
}

.top-bar .top-bar-text h3 {
    margin: 0 0 5px 0;
    color: #030f27;
    font-size: 16px;
    font-weight: 400;
}

.top-bar .top-bar-text p {
    margin: 0;
    color: #030f27;
    font-size: 13px;
    font-weight: 400;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
}


.top-bar .logo {
    display: flex;
    align-items: center;
    padding: 15px 0;
    text-align: left;
    overflow: hidden;
}

.top-bar .logo .logo-image {
    margin-right: 10px;
}

.top-bar .logo h1 {
    margin: 0;
    color: #43516e;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}

.top-bar .logo-link {
    display: flex;
    align-items: center;
}



/************/
/**** Nav Bar CSS *****/
/************/

/***********/
/*** Footer CSS ****/
/***********/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 20px;
    background: #030f27;
    color: #ffffff;
}

.footer .footer-contact,
.footer .footer-link,
.footer .newsletter {
    position: relative;
    margin-bottom: 45px;
}

.footer h2 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    align-items: start;
    text-decoration: underline;
}



.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: white;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 7px 0;
    text-align: center;
    border: 1px solid rgba(256, 256, 256, .3);
    border-radius: 60px;
    transition: .3s;
}

.footer .footer-social a i {
    font-size: 15px;
    color: #ffffff;
}

.footer .footer-social a:hover {
    background: white;
    border-color: white;
}

.footer .footer-social a:hover i {
    color: #030f27;
}

.footer .newsletter .form {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.footer .newsletter input {
    height: 50px;
    border: 2px solid #121518;
    border-radius: 0;
}

.footer .newsletter .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    background: #121518;
    border-radius: 0;
    border: 2px solid white;
    transition: .3s;
}

.footer .newsletter .btn:hover {
    color: #121518;
    background: white;
}

.footer .footer-menu .f-menu {
    position: relative;
    padding: 15px 0;
    font-size: 0;
    text-align: center;
    border-top: 1px solid rgba(256, 256, 256, .1);
    border-bottom: 1px solid rgba(256, 256, 256, .1);
}

.footer .footer-menu .f-menu a {
    color: #ffffff;
    font-size: 16px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu .f-menu a:hover {
    color: white;
}

.footer .footer-menu .f-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


.footer .copyright {
    padding: 30px 15px;
}

.footer .copyright p {
    margin: 0;
    color: #ffffff;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.footer .copyright p a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {

    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}

.flex-container {
    display: flex;
}

.left-div {
    flex: 1;
    margin-right: 10px;
}

.right-div {
    flex: 1;
}

/************/
/**** Custom Nav Bar CSS *****/
/************/

.custom-toggler-icon {
    background-color: #030f27;
    color: aliceblue;
    padding: 3px;
}

.custom-nav-bar {
    position: sticky;
    top: 0;
    background: white;
    transition: .3s;
    z-index: 999;
}

.custom-nav-bar .custom-container-fluid {
    padding: 0;
}

.custom-nav-bar .custom-navbar {
    height: 100%;
    background: #030f27 !important;
    padding: 20px;
}

.custom-navbar-dark .custom-navbar-nav .custom-nav-link,
.custom-navbar-dark .custom-navbar-nav .custom-nav-link:focus,
.custom-navbar-dark .custom-navbar-nav .custom-nav-link:hover,
.custom-navbar-dark .custom-navbar-nav .custom-nav-link.custom-active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.custom-navbar-dark .custom-navbar-nav .custom-nav-link:hover,
.custom-navbar-dark .custom-navbar-nav .custom-nav-link.custom-active {
    color: white;
    transition: none;
}

.custom-nav-bar .custom-dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

.custom-nav-bar .custom-btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0;
    padding: 2px;
    margin-left: auto;
}

.custom-navbar-toggler.hide-on-big-screens {
    display: none;
}

@media (max-width: 991.98px) {
    .custom-nav-bar .custom-navbar {
        padding: 15px;
    }

    .custom-nav-bar a.custom-nav-link {
        padding: 5px;
    }

    .custom-nav-bar .custom-navbar-toggler {
        display: block;
    }

    .custom-nav-bar .custom-navbar-collapse.collapsed {
        display: none;
    }

    .custom-nav-bar .custom-dropdown-menu {
        box-shadow: none;
    }

    .custom-nav-bar .custom-btn {
        display: none;
    }

    /* Adjustments for stacked menu items */
    .custom-navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .custom-navbar-nav .custom-nav-item {
        width: 100%;
        text-align: left;
    }

    .custom-navbar-nav .custom-btn {
        display: block;
        margin-top: 10px;
        width: fit-content;
        margin-left: 0;
    }
}

/* Your existing CSS styles */
.custom-nav-bar .custom-btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0;
    padding: 2px;
    margin-left: 50vw; /* Adjust the percentage value as per your needs */
  
   
    @media only screen and (max-width: 1208px) {
      margin-left: 0; 
    }
  
   
    @media only screen and (max-width: 1024px) and (orientation: landscape) {
      margin-left: 0; 
    }
  }