{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    {% include 'base/headCss.html' %}
  </head>
  <body>
    <div id="loader">
      <div class="neumorphic-card">
        <span class="welcome-message">Your Welcome !</span>
      </div>
    </div>

    <div class="wrapper" id="content" style="display: none">
      <!-- header  -->

      <!-- header ends -->

      <!-- Top Bar Start -->
      {% include 'base/topNav.html' %}
      <!-- Top Bar End -->

      <!-- Nav Bar Start -->
      {% include 'base/navbar.html' %}
      <!--Navbar ends -->

      {% comment %}
      <div class="carousel slide" id="myCarousel" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          {% for image in home_page_image %} {% endfor %}
          <div class="item active">
            <img src="/static/images/Sliders/aston-martin.jpg" alt="" />
          </div>

          <div class="item">
            <img src="/static/images/Sliders/audi-rs-e-tron-gt.jpg" alt="" />
          </div>
          <div class="item">
            <img src="/static/images/Sliders/maserati-mc20.jpg" alt="" />
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      {% endcomment %}

      <div class="carousel slide" id="myCarousel" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for image in home_page_images %}
          <li
            data-target="#myCarousel"
            data-slide-to="{{ forloop.counter0 }}"
            {%
            if
            forloop.first
            %}class="active"
            {%
            endif
            %}
          ></li>
          {% endfor %}
        </ol>

        <div class="carousel-inner">
          {% for image in home_page_images %}
          <div class="item {% if forloop.first %}active{% endif %}">
            <img src="{{ image.image.url }}" alt="" />
          </div>
          {% endfor %}
        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>

      <!-- home  -->

      <!-- **************Latest Rooom************** -->
      <section class="about-section">
        <div class="about-content">
          <div class="about-image">
            <img src="{{about.image.url}} " alt="About Image" />
          </div>
          <div class="about-text">
            <h2 class="about-heading">About Us</h2>
            <p>{{about.text}}</p>
            <button class="event-button black-bg">
              <a href=" {% url 'event' %} " style="text-decoration: none"
                >Events</a
              >
            </button>
            <button class="service-button white-bg">
              <a href=" {% url 'service' %} " style="text-decoration: none"
                >Services</a
              >
            </button>
          </div>
        </div>
      </section>

      {% comment %}
      <section style="height: 450px">
        <h3 style="color: #00f; text-align: center">Our Events</h3>

        <div id="carousel">
          {% for event in events %}
          <div class="{{event.id}} selected ">
            <img src="{{event.image.url}}" alt="blog" />
          </div>
          {% endfor %}
          <!---->

          {% comment %}
          <div class="">
            <img src="/static/images/Service Room/room3.jpeg" />
          </div>
          {% endcomment %} {% comment %}
          <div class="">
            <img
              src="https://i1.sndcdn.com/artworks-000158708482-k160g1-t500x500.jpg"
            />
          </div>
          {% endcomment %} {% comment %}
          <div class="selected">
            <img
              src="https://i1.sndcdn.com/artworks-000062423439-lf7ll2-t500x500.jpg"
            />
          </div>
          {% endcomment %} {% comment %}
          <div class="next">
            <img
              src="https://i1.sndcdn.com/artworks-000028787381-1vad7y-t500x500.jpg"
            />
          </div>
          {% endcomment %} {% comment %}
          <div class="nextRightSecond">
            <img src="/static/images/Service Room/room7.jpg" />
          </div>
          {% endcomment %} {% comment %}
          <div class="hideRight">
            <img src="/static/images/Service Room/room6.jpeg" />
          </div>
        </div>
        <div
          class="buuyttons"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 28px;
          "
        >
          <button id="prev"><i class="fa-solid fa-arrow-left"></i></button>
          &nbsp
          <button id="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </section>
      {% endcomment %}
      <section style="height: 450px">
        <h3 style="color: #00f; text-align: center">Our Events</h3>

        <div id="carousel">
          {% for event in events %}
          <div class="{{ event.class }}">
            <img src="{{ event.image.url }}" />
          </div>
          {% endfor %}
        </div>

        <div
          class="buuyttons"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 28px;
          "
        >
          <button id="prev"><i class="fa-solid fa-arrow-left"></i></button
          >&nbsp;
          <button id="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </section>

      <!--************Events*********-->
      <section style="margin-top: 34px">
        <script
          src="https://code.jquery.com/jquery-2.2.0.min.js"
          type="text/javascript"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet"
        />
      </section>

      <!--
        Partners
      -->
      {% include 'base/partners.html' %} {% include 'base/footer.html' %}
    </div>

    <!-- footer section ends -->

    <!-- <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script> -->

    <!-- custom js file link  -->
    <script src="js/script.js"></script>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper(".swiper-container", {
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
    <script>
      $(document).ready(function () {
        $(".customer-logos").slick({
          slidesToShow: 6,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 1500,
          arrows: false,
          dots: false,
          pauseOnHover: false,
          responsive: [
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 4,
              },
            },
            {
              breakpoint: 520,
              settings: {
                slidesToShow: 3,
              },
            },
          ],
        });
      });
    </script>
    <script>
      function slideCarousel() {
        const carouselContainer = document.querySelector(
          ".carousel-container-4"
        );
        const carousel = carouselContainer.querySelector(".carousel");
        const slides = carousel.querySelectorAll(".slide");
        const slideWidth = slides[0].offsetWidth;
        let currentPosition = 0;

        carousel.style.transform = `translateX(${currentPosition}px)`;

        function nextSlide() {
          if (currentPosition > -(slideWidth * (slides.length - 4))) {
            currentPosition -= slideWidth;
            carousel.style.transform = `translateX(${currentPosition}px)`;
          }
        }

        function prevSlide() {
          if (currentPosition !== 0) {
            currentPosition += slideWidth;
            carousel.style.transform = `translateX(${currentPosition}px)`;
          }
        }

        carouselContainer.addEventListener("mouseenter", () => {
          carouselContainer.addEventListener("mousemove", handleMouseMove);
        });

        carouselContainer.addEventListener("mouseleave", () => {
          carouselContainer.removeEventListener("mousemove", handleMouseMove);
        });

        function handleMouseMove(event) {
          const containerWidth = carouselContainer.offsetWidth;
          const containerCenter = containerWidth / 2;
          const mousePosition =
            event.clientX - carouselContainer.getBoundingClientRect().left;

          if (mousePosition < containerCenter && currentPosition !== 0) {
            prevSlide();
          } else if (
            mousePosition > containerCenter &&
            currentPosition > -(slideWidth * (slides.length - 4))
          ) {
            nextSlide();
          }
        }
      }

      slideCarousel();
    </script>

    <script>
      // Get a reference to the button element
      var button = document.getElementById("button");

      // Add an onclick event listener to the button
      button.addEventListener("click", function () {
        // Redirect to mem.html
        window.location.href = "mem.html";
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var loader = document.getElementById("loader");
        var content = document.getElementById("content");

        // Check if the page has been visited before
        if (sessionStorage.getItem("visited")) {
          loader.style.display = "none";
          content.style.display = "block";
        } else {
          // Set visited flag in sessionStorage
          sessionStorage.setItem("visited", "true");

          setTimeout(function () {
            loader.style.display = "none";
            content.style.display = "block";
          }, 2000);
        }
      });
    </script>
    <script>
      $(document).ready(function () {
        $(".carousel").carousel({});
      });
    </script>
    <script>
      function toggleNavbarToggler() {
        const navbarToggler = document.getElementById("customNavbarToggler");
        const navbarCollapse = document.querySelector(
          ".custom-navbar-collapse"
        );

        if (window.innerWidth >= 992) {
          navbarToggler.classList.add("hide-on-big-screens");
          navbarCollapse.classList.remove("collapsed"); // Expand the menu on big screens
        } else {
          navbarToggler.classList.remove("hide-on-big-screens");
          navbarCollapse.classList.add("collapsed"); // Collapse the menu on small screens
        }
      }

      window.addEventListener("load", toggleNavbarToggler);
      window.addEventListener("resize", toggleNavbarToggler);

      document.addEventListener("DOMContentLoaded", function () {
        var toggler = document.querySelector(".custom-navbar-toggler");
        var navbarCollapse = document.querySelector(".custom-navbar-collapse");

        toggler.addEventListener("click", function () {
          navbarCollapse.classList.toggle("collapsed");
        });

        toggleNavbarToggler(); // Call the function when the DOM content is loaded
      });
    </script>

    <script>
      function moveToSelected(element) {
        if (element == "next") {
          var selected = $(".selected").next();
        } else if (element == "prev") {
          var selected = $(".selected").prev();
        } else {
          var selected = element;
        }

        var next = $(selected).next();
        var prev = $(selected).prev();
        var prevSecond = $(prev).prev();
        var nextSecond = $(next).next();

        $(selected).removeClass().addClass("selected");

        $(prev).removeClass().addClass("prev");
        $(next).removeClass().addClass("next");

        $(nextSecond).removeClass().addClass("nextRightSecond");
        $(prevSecond).removeClass().addClass("prevLeftSecond");

        $(nextSecond).nextAll().removeClass().addClass("hideRight");
        $(prevSecond).prevAll().removeClass().addClass("hideLeft");
      }

      // Eventos teclado
      $(document).keydown(function (e) {
        switch (e.which) {
          case 37: // left
            moveToSelected("prev");
            break;

          case 39: // right
            moveToSelected("next");
            break;

          default:
            return;
        }
        e.preventDefault();
      });

      $("#carousel div").click(function () {
        moveToSelected($(this));
      });

      $("#prev").click(function () {
        moveToSelected("prev");
      });

      $("#next").click(function () {
        moveToSelected("next");
      });
    </script>
  </body>
</html>
