/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styling for the main card */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styling for the main card */
.main-card {
  /* max-width: 900px; */
  width: 70vw;
  margin: 18px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #00f;
  transition: box-shadow 0.3s ease-in-out;
}

/* Heading for event details */
.main-card h1 {
  font-size: 24px;
  color: #00f;
  text-align: center;
  margin-bottom: 20px;
}

/* Image container */
.image-container {
  position: relative;
  width: 100%;
}

/* Image styling */
.main-card img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  height: fit-content;
}

/* Image overlay */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Image overlay text */
.image-overlay p {
  font-size: 18px;
  text-align: center;
}

/* Show image overlay on hover */
.image-container:hover .image-overlay {
  opacity: 1;
}

/* Small heading */
.main-card h2 {
  font-size: 18px;
  color: #00f;
  margin-bottom: 15px;
  padding: 5px 10px;
  /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.7); */
  border-radius: 5px;
}

/* Styling for the description and details section */
.description-details {
  display: flex;
}

/* Left column */
.left-column {
  flex: 65%;
  margin-right: 20px;
}

/* Styling for the paragraph card */
.paragraph-card {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.7);
  padding: 20px;
}

/* Paragraph styling */
.paragraph-card p {
  color: #000;
  line-height: 1.4;
}

/* Right column */
.right-column {
  flex: 35%;
}

/* Styling for cards */
.card {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.7);
  padding: 20px;
}

/* Styling for card headers */
.card-header {
  padding: 4px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

/* Card 1 header */
.header1 {
  background-color: rgb(121, 121, 230);
  padding: 0px;
  width: fit-content;
  padding: 2px 8px;

}

/* Card 2 header */
.header2 {
  background-color: rgb(121, 121, 230);
  padding: 0px;
  width: fit-content;
  padding: 2px 8px;
  
}

/* Card content */
.card-content {
  color: #000;
  line-height: 1.4;
  padding-top: 10px;
}

/* Hover effect on main card */
.main-card:hover {
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3), 0 8px 12px rgba(0, 0, 0, 0.2);
}
/* Media query for responsiveness */
@media (max-width: 768px) {
  .main-card,
  .paragraph-card,
  .card {
    width: 100%;
  }
  .image-container {
    width: 100%;
    margin: 0 auto;
  }
  
  .description-details {
    flex-direction: column;
  }

  .right-column {
    margin-top: 20px;
  }
}

/* CSS for the background image */
.main-card-section {
  position: relative;
  background-image: url("/images/Sliders/audi-rs-e-tron-gt.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  opacity: 0.8;
}