@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
  --orange: #ff7800;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  --border: .2rem solid rgba(0, 0, 0, .1);
  --outline: .1rem solid rgba(0, 0, 0, .1);
  /* --outline-hover:.2rem solid var(--black); */
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background: #eee;
}

body,
html {
  margin: 0;
  padding: 0;
}


section {
  padding: 2rem 9%;
}

.main-heading {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--black);
}


.img-class {
  max-width: 100%;
  max-height: 100%;
}

/* *******************Navigation Bar******** */
/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 2px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  font-size: 20px;
  padding: 2px 20px;
  font-weight: 500;

}

.navbar a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.navbar a:hover {
  color: #00f;
}

.navbar a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
}*/

.fa-ticket {
  padding: 0px 4px;
}


.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}




/* **************Background Image*********** */
.home {
  height: 600px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../image/roomBG.webp) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;
}

/* **********************Slider ***************/

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */



.img-logo {
  float: left;
  padding-bottom: 10px;
  width: -1000px;
  height: 100px;
}

.new-model {
  align-items: center;
}

/* .btn{
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 40px;
  color: #ffffff;
  text-align: center;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ee8425), to(#f9488b)), -webkit-gradient(linear, left top, right top, from(#ee8425), to(#f9488b));
  background-image: -o-linear-gradient(left, #ee8425 0%, #f9488b 100%), -o-linear-gradient(left, #ee8425 0%, #f9488b 100%);
  background-image: linear-gradient(to right, #ee8425 0%, #f9488b 100%), linear-gradient(to right, #ee8425 0%, #f9488b 100%);
} */

.heading {
  color: #f5f0f0;
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

/* Sliders */


#myCarousel img {
  width: 100%;


}

.carousel-caption {
  top: 56%;
}

.carousel-caption p {
  margin-bottom: 10px;
}

.carousel-caption .first {
  position: relative;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
  padding: 8px 0;
  top: -140px;
  left: 0;
  width: 200px;
  border: 1px solid #00796B;
  color: #E0F2F1;
  text-shadow: 0px 1px 1px #000;
  background: rgba(0, 121, 107, 0.7);
}

.carousel-caption .second {
  position: relative;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
  padding: 8px 0;
  top: -140px;
  left: -0px;
  width: 360px;
  border: 1px solid #F9A825;
  color: #FFFDE7;
  background: rgba(251, 192, 45, .8);
}

.carousel-caption .third {
  position: relative;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
  padding: 8px 0;
  top: -140px;
  left: -0px;
  width: 275px;
  border: 1px solid #D84315;
  color: #FFFDE7;
  background: rgba(230, 74, 25, .7);
}

.carousel-caption .fourth {
  position: relative;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
  padding: 8px 0;
  top: -140px;
  left: -0px;
  width: 180px;
  border: 1px solid #1565C0;
  color: #FFFDE7;
  background: rgba(25, 118, 210, .8);
}



.magictime {
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  animation-duration: 1.2s;
}

.tinRightIn {
  -webkit-animation-name: tinRightIn;
  animation-name: tinRightIn;
}

@-webkit-keyframes tinRightIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1) translateX(900%);
  }

  50%,
  70%,
  90% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1) translateX(0);
  }

  60%,
  80%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateX(0);
  }
}

@keyframes tinRightIn {
  0% {
    opacity: 0;
    transform: scale(1, 1) translateX(900%);
  }

  50%,
  70%,
  90% {
    opacity: 1;
    transform: scale(1.1, 1.1) translateX(0);
  }

  60%,
  80%,
  100% {
    opacity: 1;
    transform: scale(1, 1) translateX(0);
  }
}

.about-section {
  background-color: #eee;
  padding: 100px 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.about-content {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

.about-image {
  width: 30%;
  height: 100%;
  position: relative;
  margin-right: 40px;

}

.about-image::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 10px;
  right: 10px;
  bottom: -6px;
  /* background-color: #eee; */
  box-shadow: 10px 10px 20px rgb(220, 220, 238), -10px -10px 20px #fff;
}

.about-image img {
  width: 100%;
  height: 200%;
  object-fit: cover;
  border-radius: 5px;
  /* Changed to square border radius */
  border: 1px solid #eee;
  /* box-shadow: inset 5px 5px 10px rgb(110, 110, 212), inset -5px -5px 10px #fff; */
}

.about-text {
  width: 70%;
  /* Changed to 70% */
  color: black;
}

.about-heading {
  font-size: 24px;
  color: #00f;
  margin-bottom: 10px;
  margin-top: 0;
}

.about-text p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
}

.event-button,
.service-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

@media only screen and (max-width: 768px) {
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .about-image {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: 0;
  }

  .about-image img {
    display: block;
  }

  .about-text {
    width: 100%;
    text-align: center;
  }
}


.black-bg {
  background-color: #000;
  color: #fff;
}

.white-bg {
  background-color: #fff;
  color: #000;
}

.black-bg:hover {
  background-color: #fff;
  color: #000;
}

.white-bg:hover {
  background-color: #000;
  color: #fff;
}

.event-button {
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-button {
  margin-top: 10px;

  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.2);
}

.footer-distributed {
  font-family: poppins;
}

/*for Demo Only*/
/* .demo-row {
  background-color: #333;
  padding: 50px 0;
} */


/*Implement*/
.sponsor-feature {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

#id-sponsors .carousel {
  margin-bottom: 20px;
}

#id-sponsors .item {
  padding-bottom: 20px;
}

#id-sponsors .carousel-indicators {
  bottom: -25px;
}

h2 {
  text-align: center;
  padding: 20px;
}

/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Media Query */


.brand-title {
  display: flex;
  align-items: center;
}

.img-logo {
  height: 104px;
  width: auto;
  margin-right: 10px;
}

/* .navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links ul li {
  margin-right: 15px;
} */

#button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 25%;
  position: relative;
  text-align: center;
}

.categories {
  height: 760px;
}

.caption {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
  transition: opacity 0.3s ease-in-out;
}

.slide:hover .caption {
  display: block;
}

.carousel-container-4:hover .caption {
  opacity: 0;
}

.carousel-container-4:hover .slide:hover .caption {
  opacity: 1;
}

/* Mobile */
@media (max-width: 767px) {
  .categories {
    height: auto;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
  }
}

/* iPad */
@media (min-width: 768px) and (max-width: 1023px) {
  .categories {
    height: auto;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
  }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.neumorphic-card {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #FFFFFF;
  box-shadow: inset 10px 10px 20px #D1D9E6, inset -10px -10px 20px #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flash 2s infinite;
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.welcome-message {
  font-size: 24px;
  color: #333333;
}

#content {
  display: block;
}


/* Index Page ko Events */
#carousel {
  position: relative;
  height: 400px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}

#carousel div img {
  width: 400px;
  transition: width 1s;
}

#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
  width: 200px;
}

#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
  width: 200px;
}

#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.prev img {
  width: 300px;
}

#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel div.prevLeftSecond img {
  width: 200px;
}

#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
  width: 300px;
}

#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel div.nextRightSecond img {
  width: 200px;
}

.buuttons {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  
}
